p { 
    text-align: center;
    color: red;
  }
  #para1 {
    text-align: center;
    color: blue;
  }
  .center {
    text-align: center;
    color: green;
  }
  .about {
    background: #00b3d1;
  }
  .skills {
    background: burlywood;
  }
  .projects {
    font: bold;
    font-family: fantasy;
    background-color: darksalmon;
  }
  .contact {
    background-color: black;
    color: aliceblue;
  }

  